
@{
    ViewBag.Title = "Index";
}

<h2>Bem vindo @User.Identity.Name</h2>

<ul>
    <li>http://benfoster.io/blog/aspnet-identity-stripped-bare-mvc-part-1</li>
    <li>https://weblog.west-wind.com/posts/2015/Apr/29/Adding-minimal-OWIN-Identity-Authentication-to-an-Existing-ASPNET-MVC-Application</li>
    <li>http://kristianguevara.net/creating-your-asp-net-mvc-5-application-from-scratch-for-beginners-using-entity-framework-6-and-identity-with-crud-functionalities/</li>
</ul>